<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merabreak">

    <!--<permission-->
    <!--android:name="com.webcore.merabreake.permission.C2D_MESSAGE"-->
    <!--android:protectionLevel="signature" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="com.webcore.merabreake.permission.C2D_MESSAGE" />-->
    <!--<uses-permission android:name="com.webcore.merabreake.permission.MAPS_RECEIVE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
    android:largeHeap="true" , android:hardwareAccelerated="true" in app tag/>-->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".ApplicationSingleton"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDuWYpT_oBhquOnqZWMaQpkLD2Gpg9Zrs0" />
        <!-- old - AIzaSyDrECfAzx4zsRmlaIxhNKk8vsZc2Or2aXk-->

        <!--<meta-data-->
        <!--android:name="com.google.android.gms.version"-->
        <!--android:value="@integer/google_play_services_version" />-->
        <activity
            android:name=".activities.SplashActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data
                    android:host="open"
                    android:scheme="merabreak" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="7h2w.app.link"
                    android:pathPrefix="/21tA"
                    android:scheme="https" />
                <data
                    android:host="7h2w.app.link"
                    android:pathPrefix="/21tA"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"/>

        <activity
        android:name=".activities.GaneshaSpeaksActivity_"
        android:launchMode="singleTask"
        android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InAppBrowserActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RaffleContestActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RegistrationActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RegistrationActivityNew_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ChallengeActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ChallengesActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ProfileActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.EditProfileActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPassword_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ForgotPasswordNew_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ChangePasswordActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RaffleActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RafflesActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.StoreActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.MobileNumberVarification_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.MobileNumberVarificationNew_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.OTPVerification_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.OfflineChallengeActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CoinsHistoryActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.OfflineChallengesActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PuzzleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CategoriesActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ChallengeDetailActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ChallengePlayActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.NotificationActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>


        <activity
            android:name=".activities.VoucherListsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>


        <activity
            android:name=".activities.AdvertisingActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Translucent.FullScreen"/>

        <activity
            android:name=".activities.StoresActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AccountDetailsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ShippingAddressListActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ShippingAddressActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SearchLocationActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RechargeActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RechargeDetailsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.RedeemPointsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RedeemVouchersActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AboutUsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OneTimeChallengeTCActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReferAndWinActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ReferalContactsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.TermsAndConditionsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.PrivacyPolicyActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.WinnersGalleryActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.FAQActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".games.puzzle.SlidePuzzleMain"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent" />

        <activity
            android:name=".activities.SettingsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.QRCodeActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ScanActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.WelcomeActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ArticleActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpinWheelActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name=".activities.SuperPointsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

       <!-- <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>-->

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.merabreak" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name=".pushNotifications.GcmNotificationListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".pushNotifications.NotificationInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".pushNotifications.RegistrationIntentService"
            android:exported="false" />

        <!--  <receiver
              android:name=".pushNotifications.GcmBroadcastReceiver"
              android:permission="com.google.android.c2dm.permission.SEND">
              <intent-filter>
                  <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                  <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                  <category android:name="com.quickblox.simplesample.messages" />
              </intent-filter>
          </receiver>

          &lt;!&ndash; 2. Add the following intent service: &ndash;&gt;
          <service android:name=".pushNotifications.GCMIntentService" />-->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".CustomCampaignReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name=".service.challenge.ChallengeService" />

        <receiver android:name=".service.challenge.ChallengeSyncReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.challenge.ChallengeUpdateReceiver" />

        <service android:name=".service.downchallenges.DownChallengeService" />

        <receiver android:name=".service.downchallenges.DownChallengeSyncReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.downchallenges.DownChallengeUpdateReceiver" />
        <receiver
            android:name=".CustomInstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <receiver android:name=".SMSReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".network.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1682365352005674"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5c394809403296e39d2f9a056b94d4ae9073dd29" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_hlxnS9RdEs4dmAWKcMirTopmyxefYiAy" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

    </application>

</manifest>
